@media (max-width: 768px) {
	.middle{
		position:absolute;
		top:30%;
		left:40%;
		transform:translate(-40%,-30%);
		-ms-transform:translate(-40%,-30%);
		-webkit-transform:translate(-40%,-30%);
		text-align:center!important
	}
	.name{
		font-weight: bold;
		font-size: 30px!important;
		margin:0;
	}
	.job{
		font-size: 24px!important;
		margin:0;
	}
	.toleft{
		height: 30%;
		top: 45%;
		left: 15%;
	}
	.btn{
		padding:0;
		font-size: 18px!important;
		margin: 1%;
		width: 150px;
	}
	.toright{
		padding:1em 20%;
	}
	.mod-cont{
		width:90%
	}
	.head{
		font-size: 80%;
	}
	h5{
		font-size: 18px;
	}
}


@media (max-width: 480px) {
	.middle{
		position:absolute;
		top:30%;
		left:40%;
		transform:translate(-40%,-30%);
		-ms-transform:translate(-40%,-30%);
		-webkit-transform:translate(-40%,-30%);
		text-align:center!important
	}
	.name {
		font-weight: bold;
		font-size: 26px!important;
		margin:0;
	}
	.job{
		font-size: 20px!important;
		margin:0;
	}
	
	.toleft{
		width:50%;
		height: 30%;
		top: 45%;
		left: 25%;
	}
	.btn{
		padding:0;
		font-size: 18px!important;
		margin: 1%;
		width: 150px;
	}
	.toright{
		padding:0;
	}
	.bot{
		padding: 0.06em;
	}
	.mod-cont{
		width:80%
	}
	.head{
		font-size: 70%;
	}
	h5{
		font-size: 14px;
	}
	.btnx{
		padding: 0;
	}
}
